* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 130%;
}
body {
  background-color: #000;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Baloo Tamma 2", cursive;
}
#root {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  min-width: 15rem;
  min-height: 15rem;
}
@media screen and (max-width: 590px) {
  * {
    font-size: 90%;
  }
}
